<div class="skilll-carousel" 
     #carouselContainer 
     (mouseenter)="onMouseEnter()" 
     (mouseleave)="onMouseLeave()">
  <div class="frame-41" 
       #skillFrame 
       [style.animation-duration]="animationDuration">
      <div class="frame-15">
          <div class="icon-container">
             <img src="assets/icons/web-dev.svg" alt="Web Developer Icon" class="skill-icon">
          </div>
          <div class="web-developer"> Web Developer </div>
          <div class="skill-description"> Crafting responsive and dynamic websites. </div>
      </div>
      <div class="frame-16">
          <div class="icon-container">
              <img src="assets/icons/iot.svg" alt="IoT Icon" class="skill-icon">
          </div>
          <div class="embedded-systems-io-t"> Embedded Systems &amp; IoT </div>
          <div class="skill-description"> Building smart, connected devices. </div>
      </div>
      <div class="frame-17">
           <div class="icon-container">
             <img src="assets/icons/designer.svg" alt="Designer Icon" class="skill-icon">
          </div>
          <div class="designer"> Designer </div>
          <div class="skill-description"> Focusing on user experience and aesthetics. </div>
      </div>
      <div class="frame-18">
           <div class="icon-container">
             <img src="assets/icons/cybersecurity.svg" alt="Cyber Security Icon" class="skill-icon">
           </div>
          <div class="cyber-security"> Cyber Security </div>
          <div class="skill-description"> Protecting digital assets and data. </div>
      </div>
      <div class="frame-19">
          <div class="icon-container">
               <img src="assets/icons/game-dev.svg" alt="Game Developer Icon" class="skill-icon">
          </div>
          <div class="game-developer"> Game developer </div>
          <div class="skill-description"> Creating interactive gaming experiences. </div>
      </div>
      <div class="frame-20">
           <div class="icon-container">
              <img src="assets/icons/cad-design.svg" alt="CAD Designer Icon" class="skill-icon">
          </div>
          <div class="cad-designer"> CAD Designer </div>
          <div class="skill-description"> Designing precise 2D and 3D models. </div>
      </div>
      <div class="frame-21">
           <div class="icon-container">
              <img src="assets/icons/blockchain.svg" alt="Blockchain Developer Icon" class="skill-icon">
          </div>
          <div class="block-chain-developer"> Block Chain Developer </div>
          <div class="skill-description"> Developing secure decentralized applications. </div>
      </div>
      <div class="frame-15">
          <div class="icon-container">
             <img src="assets/icons/web-dev.svg" alt="Web Developer Icon" class="skill-icon">
          </div>
          <div class="web-developer"> Web Developer </div>
          <div class="skill-description"> Crafting responsive and dynamic websites. </div>
      </div>
      <div class="frame-16">
          <div class="icon-container">
              <img src="assets/icons/iot.svg" alt="IoT Icon" class="skill-icon">
          </div>
          <div class="embedded-systems-io-t"> Embedded Systems &amp; IoT </div>
          <div class="skill-description"> Building smart, connected devices. </div>
      </div>
      <div class="frame-17">
           <div class="icon-container">
             <img src="assets/icons/designer.svg" alt="Designer Icon" class="skill-icon">
          </div>
          <div class="designer"> Designer </div>
          <div class="skill-description"> Focusing on user experience and aesthetics. </div>
      </div>
      <div class="frame-18">
           <div class="icon-container">
             <img src="assets/icons/cybersecurity.svg" alt="Cyber Security Icon" class="skill-icon">
           </div>
          <div class="cyber-security"> Cyber Security </div>
          <div class="skill-description"> Protecting digital assets and data. </div>
      </div>
      <div class="frame-19">
          <div class="icon-container">
               <img src="assets/icons/game-dev.svg" alt="Game Developer Icon" class="skill-icon">
          </div>
          <div class="game-developer"> Game developer </div>
          <div class="skill-description"> Creating interactive gaming experiences. </div>
      </div>
      <div class="frame-20">
           <div class="icon-container">
              <img src="assets/icons/cad-design.svg" alt="CAD Designer Icon" class="skill-icon">
          </div>
          <div class="cad-designer"> CAD Designer </div>
          <div class="skill-description"> Designing precise 2D and 3D models. </div>
      </div>
      <div class="frame-21">
           <div class="icon-container">
              <img src="assets/icons/blockchain.svg" alt="Blockchain Developer Icon" class="skill-icon">
          </div>
          <div class="block-chain-developer"> Block Chain Developer </div>
          <div class="skill-description"> Developing secure decentralized applications. </div>
      </div>
  </div>
</div>
