<div class="footer">
  <div class="frame-43">
      <div class="frame-3">
          <div class="quick-links"> Quick Links </div>
          <div class="frame-42">
              <a class="home" routerLink="/home"> Home </a>
              <a class="about-me" routerLink="/about-me"> About Me </a>
              <a class="blog" routerLink="/blog"> Blog </a>
              <a class="projects" routerLink="/projects"> Projects </a>
              <a class="achievements" routerLink="/achievements"> Achievements </a>
              <a class="contact-me" routerLink="/contact-me"> Contact Me </a>
          </div>
      </div>
      <div class="frame-4">
          <div class="subscribe-to-my-blog"> Subscribe to My Blog </div>
          <div class="frame-5">
              <div class="frame-2">
                  <div class="enter-your-email"> Enter your Email </div>
              </div>
              <div class="frame-1">
                  <div class="subscribe"> Subscribe </div>
              </div>
          </div>
      </div>
  </div>
  <div class="frame-44">
      <div class="_2025-all-right-reserve"> 2025 All Right Reserve </div>
  </div>
</div>
