:host, .main, .main * {
  box-sizing: border-box;
  width: 100%;
}

.main {
  background: #f5f5dc;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 0px;
}
