<div class="footer">
  <div class="frame-43">
      <div class="frame-3">
          <div class="quick-links"> Quick Links </div>
          <div class="frame-42">
              <div class="home"> Home </div>
              <div class="about-me"> About Me </div>
              <div class="blog"> Blog </div>
              <div class="projects"> Projects </div>
              <div class="achievements"> Achievements </div>
              <div class="contact-me"> Contact Me </div>
          </div>
      </div>
      <div class="line-1">
      </div>
      <div class="frame-4">
          <div class="subscribe-to-my-blog"> Subscribe to My Blog </div>
          <div class="frame-5">
              <div class="frame-2">
                  <div class="enter-your-email"> Enter your Email </div>
              </div>
              <div class="frame-1">
                  <div class="subscribe"> Subscribe </div>
              </div>
          </div>
      </div>
  </div>
  <div class="frame-44">
      <div class="_2025-all-right-reserve"> 2025 All Right Reserve </div>
  </div>
</div>
