<section class="landing-section">
  <div class="face left">
    <img src="./face-left.png" alt="Left Half Face" />
  </div>

  <div class="intro-text">
    <div class="greeting">Hello There!</div>
    <h1 class="name-intro">I'm Tanush Purwar</h1>
    <p class="subtitle">AKA Sanskari Wolf</p>
    <p class="description">
      A passionate developer crafting secure systems, building innovative solutions, and shaping the
      digital future one line of code at a time.
    </p>

    <div class="cta-buttons">
      <a href="/projects" class="btn primary">View My Work</a>
      <a href="/contact" class="btn secondary">Get In Touch</a>
    </div>

    <div class="scroll-indicator">
      <span class="scroll-text">Explore</span>
      <div class="scroll-arrow"></div>
    </div>
  </div>

  <div class="face right">
    <img src="./face-right.png" alt="Right Half Face" />
  </div>
</section>
<section class="skills-section">
  <div class="top-border">
    <div class="left-decoration">
      .        へ   ♡    ︵<br />
     ૮  -   ՛ )   ૮(`ᴥ ⁻ 𑁬<br />
       /   ⁻  ៸|      |    ⸝ 〵<br />
 乀 (ˍ, ل ل     じしˍ,  )୭
    </div>
    <div class="dashed-line"></div>
    <div class="right-decoration">
      ⋆˚₊ 𖤓☽⋆˚₊ 𖤓˚.⋆<br />
      ⋆    ႔ ႔<br />
         ᠸ^ ^ ⸝⸝<br />
           |、˜〵<br />
          じしˍ,)⁐̤ᐷ
    </div>
  </div>
  <h2 class="skills-heading">Talents that I Own</h2>

  <div class="carousel-wrapper">
    <div class="carousel-track">
      <!-- Skills Loop -->
      <div class="parent" *ngFor="let skill of repeatedSkills">
        <div class="card">
          <div class="content-box">
            <span class="card-title">{{ skill.name }}</span>
            <p class="card-content">
              {{ skill.quote }}
            </p>
          </div>
          <div class="date-box">
            <span class="skill-logo-in-card">{{ skill.logo }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-right-art">
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⠻⣥⠙⢦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡿⠀⡿⠻⣆⠙⠦⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⢿⡄⠁⠀⠘⣆⡔⢶⣆⠉⢷⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢻⡄⠀⠀⡿⢿⡀⠉⠀⠞⠹⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⡿⡄⠀⡇⠘⣧⣀⣀⣀⠀⠻⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣼⠃⠁⢀⣠⠞⣹⢿⠻⡟⢿⣿⣯⢳⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣾⠃⠶⠒⠉⠁⣴⠇⢸⡇⡟⡷⢬⡙⠎⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣴⣿⠇⢀⣠⣄⡀⠚⠁⠀⠈⠀⠀⣷⠀⠉⠛⠛⠀⠀⠀⠀⠀⠀⠀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⡼⣽⣿⣶⠋⢉⡿⠇⠀⠀⠀⠀⠀⣰⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⢱⣿⣿⠇⠀⣠⣥⣤⡀⠀⠀⠀⢀⡟⣿⣿⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⢿⣿⢀⣾⡟⠉⢹⡇⠀⠀⠀⢸⠁⡿⠙⣿⣷⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⢸⣇⣾⡟⠀⠸⡏⣄⡀⠀⠀⢹⢀⡇⢀⢘⢿⣮⡙⠀⠀⠀⠀⠀⠀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⣿⣇⠀⡀⣧⠰⣿⣶⣄⠀⠀⠀⠘⣎⠳⣿⣿⣦⡀⠀⠀⠀⠀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⡿⣿⣆⠹⣿⡐⣾⣷⣹⣆⠀⠀⠀⠘⢷⣄⣻⣿⣿⣷⡄⠀⠀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠹⢿⣿⣦⠽⣇⣹⣟⢿⠙⠁⠀⠀⠀⣤⠉⠻⣿⣿⣿⣿⣦⡀⠀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠙⡟⠂⣿⢹⡿⣼⠇⠀⠀⣀⠀⣷⡀⠀⠈⠻⣿⣿⣿⣷⡀⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⡆⢻⠀⠉⢸⡇⠈⣀⣠⣾⠇⠀⠻⣿⣦⣤⣴⣿⠿⣿⡿⣷⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⡇⢸⡀⠀⢸⠁⣰⠛⣽⡧⠖⠻⢿⡆⠈⠉⠉⠀⠀⢻⣷⠹⠇<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠘⡇⠀⢸⢰⡏⢰⡟⠀⣀⣀⡼⠃⠀⢀⡆⠀⠀⠘⣿⡆⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣤⣴⣿⣶⣷⣶⣾⣿⣧⣾⣤⣄⣀⣀⣤⣤⣶⡿⠀⠀⠀⢠⣿⡇⠀<br>
    ⠀⠀⠀⠀⠀⠀⠀⣠⣴⣾⣿⣟⡛⠛⠛⠉⠉⠉⠉⢉⣭⣽⡿⠿⠿⠿⠛⠛⠛⠓⠲⠦⠄⣼⢻⡇⠀<br>
    ⠀⠀⠀⠀⠀⠀⠘⢉⣼⣿⣿⠿⠛⠛⠁⠀⠀⣠⠖⠋⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⠁⣸⡇⠀<br>
    ⠀⠀⠀⠀⠀⢀⣴⠿⠛⠁⢀⣀⣀⣀⣀⣀⣄⡀⠀⠀⠀⢦⣀⠀⠀⠀⠀⠀⠀⠀⠀⣠⠇⣰⣿⠁⠀<br>
    ⠀⠀⠀⢀⣴⣟⣥⣶⣾⣿⣿⣿⣿⣿⣿⣭⣤⣤⣤⣀⣀⡀⠈⠛⠶⢶⣶⣶⣾⣿⣿⣿⠟⠁⠀⠀<br>
    ⠀⢀⣴⡿⠟⠋⡽⠟⠉⠉⠀⠀⠀⠀⠀⠀⠀⠈⠉⠉⠉⠙⠛⠛⠛⠿⠿⠿⠿⠟⠛⠉⠁⠀⠀⠀⠀<br>
    ⠐⠋⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
  </div>
</section>
<section class="testimonials-section">
  <div class="testimonials-container">
    <div class="testimonials-header">
      <h1 class="testimonials-subtitle">Words That Matter</h1>
    </div>
    <div class="carousel-container">
      <!-- Top Carousel -->
      <div class="carousel" style="mask-image:linear-gradient(to left, transparent 0%, black 20%, black 80%, transparent 95%)">
        <div class="carousel-track animate-scroll-reverse">
          <div class="testimonial-card" *ngFor="let testimonial of repeatedTestimonials">
            <p class="testimonial-quote">"{{ testimonial.quote }}"</p>
            <div class="testimonial-footer">
              <div class="author-info">
                <img class="author-avatar" [src]="testimonial.avatar" alt="avatar">
                <div class="author-details">
                  <h5 class="author-name">{{ testimonial.name }}</h5>
                  <p class="author-title">{{ testimonial.title }}</p>
                </div>
              </div>
              <div class="divider"></div>
              <div class="social-link">
                <a [href]="testimonial.link" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 34 34">
            <path fill="currentColor" d="M34 2.5v29a2.5 2.5 0 0 1-2.5 2.5h-29A2.5 2.5 0 0 1 0 31.5v-29A2.5 2.5 0 0 1 2.5 0h29A2.5 2.5 0 0 1 34 2.5M10 13H5v16h5zm.45-5.5a2.88 2.88 0 0 0-2.86-2.9H7.5a2.9 2.9 0 0 0 0 5.8 2.88 2.88 0 0 0 2.95-2.81zM29 19.28c0-4.81-3.06-6.68-6.1-6.68a5.7 5.7 0 0 0-5.06 2.58h-.14V13H13v16h5v-8.51a3.32 3.32 0 0 1 3-3.58h.19c1.59 0 2.77 1 2.77 3.52V29h5z"></path>
          </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Bottom Carousel -->
      <div class="carousel" style="mask-image:linear-gradient(to left, transparent 0%, black 20%, black 80%, transparent 95%)">
        <div class="carousel-track animate-scroll">
          <div class="testimonial-card" *ngFor="let testimonial of repeatedTestimonials">
            <p class="testimonial-quote">"{{ testimonial.quote }}"</p>
            <div class="testimonial-footer">
              <div class="author-info">
                <img class="author-avatar" [src]="testimonial.avatar" alt="avatar">
                <div class="author-details">
                  <h5 class="author-name">{{ testimonial.name }}</h5>
                  <p class="author-title">{{ testimonial.title }}</p>
                </div>
              </div>
              <div class="divider"></div>
              <div class="social-link">
                <a [href]="testimonial.link" target="_blank">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 34 34">
            <path fill="currentColor" d="M34 2.5v29a2.5 2.5 0 0 1-2.5 2.5h-29A2.5 2.5 0 0 1 0 31.5v-29A2.5 2.5 0 0 1 2.5 0h29A2.5 2.5 0 0 1 34 2.5M10 13H5v16h5zm.45-5.5a2.88 2.88 0 0 0-2.86-2.9H7.5a2.9 2.9 0 0 0 0 5.8 2.88 2.88 0 0 0 2.95-2.81zM29 19.28c0-4.81-3.06-6.68-6.1-6.68a5.7 5.7 0 0 0-5.06 2.58h-.14V13H13v16h5v-8.51a3.32 3.32 0 0 1 3-3.58h.19c1.59 0 2.77 1 2.77 3.52V29h5z"></path>
          </svg>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
