<div class="projects-container">
  <div class="filter-row">
    <div class="filter-icon" (click)="toggleDropdown()">
      <span>⚙️</span>
    </div>

    <div class="filter-dropdown">
      <button class="dropdown-button" (click)="toggleDropdown()">
        Filter Projects ▼
      </button>
      <div class="dropdown-menu" [class.active]="isDropdownOpen">
        <div class="dropdown-item" (click)="selectAll()">Select All</div>
        <div class="dropdown-item" (click)="deselectAll()">Deselect All</div>
        <div class="dropdown-item" (click)="toggleFilter('webdev')">Web Development</div>
        <div class="dropdown-item" (click)="toggleFilter('blockchain')">Blockchain</div>
        <div class="dropdown-item" (click)="toggleFilter('database')">Database</div>
        <div class="dropdown-item" (click)="toggleFilter('docker')">Docker/Kubernetes</div>
        <div class="dropdown-item" (click)="toggleFilter('cybersecurity')">Cybersecurity</div>
        <div class="dropdown-item" (click)="toggleFilter('uiux')">UI/UX</div>
      </div>
    </div>

    <div class="filter-options">
      <div class="wrapper">
        <div class="option" *ngFor="let filterOption of filterOptions">
          <input
            class="input"
            type="checkbox"
            [name]="filterOption.key"
            [value]="filterOption.key"
            [checked]="activeFilters.has(filterOption.key)"
            (change)="toggleFilter(filterOption.key)">
          <div class="btn">
            <span class="span">{{ filterOption.label }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

   <div class="projects-grid">
    <!-- The loop now creates an anchor tag for each project -->
    <a *ngFor="let project of filteredProjects"
       [href]="project.link"
       target="_blank"
       rel="noopener noreferrer"
       class="project-card-link">

      <div class="project-card fade-in">
        <div class="top-section" [style.background-image]="'url(' + project.image + ')'">
        </div>
        <div class="bottom-section">
          <span class="project-title">{{ project.title }}</span>
          <div class="project-tags">
            <span *ngFor="let tag of project.tags" class="project-tag">
              {{ getTagLabel(tag) }}
            </span>
          </div>
          <p class="project-description">{{ project.description }}</p>
        </div>
      </div>

    </a>
  </div>
</div>
