/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";

body {
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: #f5f5dc;
  color: #010b13;
}
